body {
	text-align: center;
}

.toppings {
	display: flex;
	justify-content: space-around;
	padding: 0 3%;
}

.menuItem {
	width: 23%;
	border: 2px solid black;
	border-radius: 5%;
	text-align: center;
}

.menuItem input {
	display: inline-block;
	width: 50%;
	margin: 0 50px;

}

#toppingsSelected {
	height: 10px;
}